.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list{
  display: flex;
  flex-wrap: wrap;
}
.listItem{
  margin: 10px;
}
.moduleItemBtn{
  width: 250px;
  height: 250px;
}
.loader{
  display: flex;
  justify-content: center;
}
